<!DOCTYPE html>
<html>
<head>
    <title>工序管理</title>
     #include("/page/sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
  	<div v-show="showTable">
  		<Row :gutter="16">
		  		<div class="buttons-group">
				    <i-button type="success" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</i-button>
		  		</div>
	  	 </Row>
    	<i-table border stripe :columns="clientColumns" :data="clientPageList"></i-table>
    	<div style="margin: 10px;overflow: hidden">
	        <div style="float: right;">
	            <Page :total="clientListSize" :current="page" :page-size="10" @on-change="pageChange" ></Page>
	        </div>
    	</div>
    </div>
    
    <Card v-show="showAdd">
        <p slot="title">{{title}}</p>
        <i-form ref="addItem" :rules="ruleValidate" :model="addItem" :label-width="100">
        	<Form-item label="客户姓名" prop="client">
                <i-input v-model="addItem.client_name" size="large" placeholder="请输入客户姓名" />
            </Form-item>
            <Form-item label="排序">
                <Input-number v-model="addItem.sort" size="large" :editable="false"></Input-number>
                &nbsp;(数字越小越靠前)
            </Form-item>
            <Form-item>
                <i-button type="primary" @click="publishSubmit('addItem')">提交</i-button>
                <i-button type="warning" @click="pageList" style="margin-left: 8px"/>返回</i-button>
                <!-- <i-button type="ghost" @click="handleReset('formValidate')" style="margin-left: 8px">重置</i-button> -->
            </Form-item>
        </i-form>
    </Card> 
</div>
<script src="/js/jy/client.js?#now()"></script>
</body>
</html>